(id:"3363584909",name:"Judea Pearl",username:"yudapearl",description:Some("Student of causal inference, human reasoning, and history of ideas, all viewed through the sharp lens of artificial intelligence."))